@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Rubik+Vinyl&display=swap');




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-image{
  max-width: 300px;
}

.holder{
  margin-top: 70px;
}

.login{
  max-width: 300px;

}

.szines{
  color: aliceblue;
  transform: translate(5px, 80px);
  position : relative;
 
  
}

.reg1{
  color: white;
  text-align: center;
}


.reg2{
  color: red;

}

.modal-content{
  background-color: rgba(10, 7, 7, 0.1) !important;
  border: 2px  solid white !important;
  text-align: center !important;
  width: 550px !important;
  height: 500px !important;

}
.modal.show{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; 
  
  
}

.mx-5{
  color:white;
  font-family: 'Rubik Vinyl', cursive;
  font-size: 20px;
  margin: 15px;
  
}

.regpanel {
  width: 350px;
  padding: 2px;
  margin: 2px;
}

.regpanel2{
  color: white;
  font-size: 20px;
}

.logpanel{
  width: 350px;
  padding: 6px;
  margin: 25px;
}

.logpanel2{
  color: white;
  font-size: 25px;
}

.position{
  position: absolute;
  top: 250px;
  text-align: center;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  margin: 2px;
  padding: 20px;

}
.homeposition{
  position: absolute;
  top: 94px;
  text-align: center;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  margin: 2px;
  padding: 20px;
}

.helysize {

  font-size: 12px;
}

.bemutatkozas{
  color: red;
}





