@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Rubik+Vinyl&display=swap');




.App {
  text-align: center;

}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}

.App-link {
  color: #61dafb;
}



.product-image{
  max-width: 300px;
}

.holder{
  margin-top: 70px;
}

.login{
  max-width: 300px;

}

.szines{
  color: aliceblue;
  transform: translate(5px, 80px);
  position : relative;
 
  
}

.reg1{
  color: white;
  text-align: center;
}


.reg2{
  color: red;

}

.modal-content{
  background-color: rgba(10, 7, 7, 0.1) !important;
  border: 2px  solid white !important;
  text-align: center !important;
  width: 550px !important;
  height: 500px !important;

}
.modal.show{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; 
  
  
}

.mx-5{
  color:white;
  font-family: 'Rubik Vinyl', cursive;
  font-size: 18px;
  margin: 25px;
  
}

.regpanel {
  width: 350px;
  padding: 2px;
  margin: 2px;
}

.regpanel2{
  color: white;
  font-size: 20px;
}

.logpanel{
  width: 350px;
  padding: 6px;
  margin: 2px;
}

.logpanel2{
  color: white;
  font-size: 25px;
}

.position{
  position: absolute;
  top: 250px;
  text-align: center;
  color: white;
  font-size: 16px;
  border: 1px solid white;
  margin: 2px;
  padding: 40px;

}
.homeposition{
  height: 100%;
  top: 120px;

  text-align: center;
  color: white;
  border: 1px solid white;
  margin-top: 75px;
  margin-left: 75px;
  margin-right: 75px;
}

.helysize {

  font-size: 12px;
}

.bemutatkozas{
  color: red;
}

.body{
  max-width: 100%;
}


video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top:0;
  left:0;
}





@media screen and (max-width:800px) {
  .homeposition { 
    font-size: calc(32px + 8* ((100vw - 300px) / (800- 300)));
    border: none !important;
    font-size: 14px;
  }
}


@media screen and (max-width:540px) {
  .modal-content { 
    width: 70% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
    left:  20% !important;

  }
}

@media screen and (max-width:540px) {
  .regpanel { 
    width: 100% !important;
    display: flex !important;

  }
}

@media screen and (max-width:540px) {
  .logpanel { 
    width: 100% !important;
    display: flex !important;

  }
}


@media screen and (max-width:540px) {
  .position{ 
    width: 70% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
    left:  20% !important;
    font-size: 14px !important;

  }
}




